<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <webSocket enabled="false" />
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\home\site\wwwroot\env\Scripts\python.exe|%SystemRoot%\System32\inetsrv\fcgiext.dll" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="Static Files" stopProcessing="true">
          <match url="^/?(static|public)/" ignoreCase="True" />
          <action type="Rewrite" url=".\{REQUEST_URI}" />
        </rule>
        <rule name="Configure Python" stopProcessing="true">
          <match url="(.*)" ignoreCase="False" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="AgentWeb.py" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
